<app-navbar></app-navbar>

<section class="foro-crear">
    <h1>Crear Foro</h1>
  
    <div *ngIf="errorMessage" class="error-message">* {{ errorMessage }}</div>
  
    <label for="title">Título del Foro</label>
    <input id="title" [(ngModel)]="forumTitle" placeholder="Título" />
  
    <label for="description">Descripción</label>
    <textarea id="description" [(ngModel)]="forumDescription" placeholder="Descripción"></textarea>
  
    <button (click)="createForum()" class="btn-create">Crear Foro</button>
  </section>
  

<app-footer></app-footer>