:host {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-top: 20px;
  background-color: #4CAF50;
  color: white !important;
}

.sidebar-header {
  text-align: center;
  padding-bottom: 15px;

  a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important;
    text-decoration: none;  // Elimina la subrayado
    cursor: pointer;

    &:hover {
      color: #eeeeee;  // Opcional: un color diferente para el hover
    }
  }
}

.mat-nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}

.mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .icono {
    font-size: 24px;
    margin-right: 20px;
    color: white !important;
    position: relative;
    top: 1px;
  }

  .texto {
    color: white !important;
    font-size: 1rem;
  }
}
