<div class="sidebar-header">
  <h2>
    <a routerLink="/dashboard" class="logo-link">FitMindSet</a>
  </h2>
</div>
<mat-nav-list>
  <a mat-list-item routerLink="/perfil">
    <mat-icon class="icono">person</mat-icon>
    <span class="texto">Mi Perfil</span>
  </a>
  <a mat-list-item routerLink="/metas">
    <mat-icon class="icono">fitness_center</mat-icon>
    <span class="texto">Metas de Salud</span>
  </a>
  <a mat-list-item routerLink="/notificaciones">
    <mat-icon class="icono">notifications</mat-icon>
    <span class="texto">Notificaciones</span>
  </a>
  <a mat-list-item routerLink="/reportes">
    <mat-icon class="icono">bar_chart</mat-icon>
    <span class="texto">Reportes</span>
  </a>
  <a mat-list-item routerLink="/graficos">
    <mat-icon class="icono">pie_chart</mat-icon>
    <span class="texto">Gráficos</span>
  </a>
  <a mat-list-item routerLink="/pagos">
    <mat-icon class="icono">credit_card</mat-icon>
    <span class="texto">Pagos y Suscripciones</span>
  </a>
</mat-nav-list>
