<div class="container">
  <h2>Volviendo a tu cuenta de FitMindSet</h2>
  <p>Danos más detalles sobre tu cuenta...</p>
  <form (ngSubmit)="sendEmail()">
    <mat-form-field appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input matInput placeholder="Ingresa tu correo" [formControl]="emailControl" />
      <mat-error *ngIf="emailControl.hasError('required')">El correo es obligatorio</mat-error>
      <mat-error *ngIf="emailControl.hasError('email')">Correo no válido</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!emailControl.valid">Continuar</button>
  </form>
</div>
