<div class="container">
  <h2>Perfil de Usuario</h2>
  
  <!-- Avatar de usuario -->
  <div class="user-avatar">
    <span>{{ profile.nombre[0] }}{{ profile.apellidos[0] }}</span> <!-- Iniciales del usuario -->
  </div>

  <p><strong>Nombre:</strong> {{ profile.nombre }}</p>
  <p><strong>Apellido:</strong> {{ profile.apellidos }}</p>
  <p *ngIf="profile.correo"><strong>Correo:</strong> {{ profile.correo }}</p>


  <!-- Verificar si el rol está disponible -->
  <p>
    <strong>Rol:</strong> {{ profile.rol }}
  </p>

  <!-- Botones de actualización y eliminación -->
  <button (click)="navigateToUpdateProfile()" class="button update-button">
    Actualizar Perfil
  </button>
  <button (click)="deactivateAccount()" class="button deactivate-button">
    Eliminar Cuenta
  </button>
</div>
