// Variables de colores
$color-primary: #3498db;
$color-primary-dark: #2980b9;
$color-danger: #e74c3c;
$color-danger-dark: #c0392b;
$color-background-light: #f5f7fa;
$color-background-dark: #c3cfe2;
$color-text-primary: #34495e;
$color-text-secondary: #2c3e50;

// Estilos
.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px); // Efecto de elevación en hover
  }

  h2 {
    color: $color-text-primary;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 3px solid $color-primary;
    padding-bottom: 10px;
  }

  p {
    margin: 20px 0;
    font-size: 18px;
    color: $color-text-secondary;
    line-height: 1.6;

    strong {
      font-weight: bold;
      color: $color-text-primary;
    }
  }

  .button {
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;

    &.update-button {
      background-color: $color-primary;
      margin-right: 10px;

      &:hover {
        background-color: $color-primary-dark;
        transform: translateY(-2px); // Sutil efecto de elevación en hover
      }
    }

    &.deactivate-button {
      background-color: $color-danger;

      &:hover {
        background-color: $color-danger-dark;
        transform: translateY(-2px);
      }
    }
  }
  .user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #4CAF50; /* Puedes cambiar el color */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 20px;
  }
}
