<app-navbar></app-navbar>

<section class="foro-busqueda">
  <div class="header">
    <h1>Foros de la Comunidad FitMindSet</h1>
    <button (click)="createForum()" class="btn-create">+ Nuevo</button>
  </div>

  <div class="forums">
    <div *ngFor="let forum of forums" class="forum-item">
      <div class="forum-info">
        <h2 class="forum-title">{{ forum.title }}</h2>
        <p class="forum-description">{{ forum.description }}</p>
        <span class="forum-status">{{ forum.status }}</span>
      </div>
      <div class="forum-actions">
        <button (click)="viewForumDetails(forum.title)" class="btn-details">Ver detalles</button>
        <button *ngIf="forum.status === 'Propietario'" (click)="deleteForum(forum.title)" class="btn-delete">Eliminar</button>
      </div>
    </div>
  </div>
</section>

