.book-form-container {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
  margin-bottom: 20px; // Espacio aumentado entre campos
}

mat-form-field {
  width: 100%; // Campos de entrada más anchos
  margin-bottom: 20px;

  .mat-form-field-wrapper {
    padding: 0 8px; // Espacio interno para un diseño más limpio
  }
}

mat-form-field .mat-label {
  color: #4a4a4a; // Color de etiqueta más oscuro
  font-weight: 500;
}

mat-form-field .mat-input-element {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

mat-form-field.appearance-outline .mat-form-field-outline {
  border-color: #4caf50; // Color de borde en el tema verde
}

mat-form-field.appearance-outline .mat-form-field-outline-thick {
  border-color: #388e3c; // Borde más oscuro al enfocar
}

mat-error {
  color: #d32f2f; // Color de error en rojo
}

.file-input-group {
  width: 100%;
  margin-bottom: 20px;

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  small {
    display: block;
    margin-top: 5px;
    color: #6c757d;
  }
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 15px;

  button {
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: 500;
  }

  button[mat-button] {
    color: #4caf50;
  }

  button[mat-raised-button] {
    background-color: #4caf50;
    color: #ffffff;
  }
}

.image-preview {
  margin-top: 20px;
  text-align: center;
  flex: 1;
}

.cover-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.boton{
  background: #388e3c !important;
  color: #ffffff !important;
  padding: 14px 24px !important;
}
