<div class="book-form-container" *ngIf="tipoDeHabitos && tipoDeHabitos.length > 0">
  <h1>{{ habitoId ? 'Editar' : 'Nuevo' }} Hábito</h1>

  <div *ngIf="errors.length" class="alert alert-danger mt-5">
    <ul>
      <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-8">
      <form [formGroup]="form" (ngSubmit)="save()" class="mt-5" autocomplete="off">
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Hábito</mat-label>
          <mat-select formControlName="tipoDeHabitoId" required>
            <mat-option [value]="null" disabled>Seleccionar</mat-option>
            <mat-option *ngFor="let tipo of tipoDeHabitos" [value]="tipo.id">
              {{ tipo.nombre }}
            </mat-option>
          </mat-select>
          
          <mat-error *ngIf="form.get('tipoDeHabitoId')?.hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field w-100" appearance="outline">
          <mat-label>Nombre</mat-label>
          <textarea matInput placeholder="Nombre" formControlName="nombre_habito"></textarea>
          <mat-error *ngIf="form.get('nombre_habito')?.hasError('required')">
            El nombre es obligatorio
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field w-100" appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
          <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
            La descripción es obligatoria
          </mat-error>
        </mat-form-field>

        <div class="action-buttons text-end">
          <button mat-button type="button" routerLink="/customer/habitos/list">
            Cancelar
          </button>
          <button mat-raised-button color="primary" class="ms-2 boton">
            {{ habitoId ? 'Actualizar' : 'Crear' }} Hábito
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
