.forum-detail {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  
    .forum-header {
      text-align: center;
      margin-bottom: 2rem;
  
      h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: #333;
      }
  
      p {
        font-size: 1rem;
        color: #666;
        margin: 0;
      }
  
      .btn-join {
        background-color: #4caf50;
        color: white;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1rem;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #388e3c;
        }
      }
    }
  
    .comments-section {
      margin-top: 2rem;
      text-align: left;
  
      h2 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 1rem;
      }
  
      textarea {
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
      }
  
      .btn-add-comment {
        background-color: #4caf50;
        color: white;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #388e3c;
        }
      }
  
      ul {
        list-style-type: none;
        padding: 0;
        margin-top: 1.5rem;
  
        .comment-item {
          padding: 1rem;
          margin-bottom: 1rem;
          background-color: #f1f1f1;
          border-radius: 8px;
          font-size: 1rem;
          color: #333;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  