<nav class="navbar">
  <div class="navbar__container">
    <a href="#" class="navbar__brand">FitMindSet</a>
    <button class="navbar__toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
      <span class="navbar__toggler-icon"></span>
    </button>
    <div class="navbar__menu" id="navbarMenu">
      <ul class="navbar__list">
        <li><a href="#" class="navbar__link">Inicio</a></li>
        <li><a href="#" class="navbar__link">Servicios</a></li>
        <li><a href="#" class="navbar__link">Acerca de</a></li>
        <li><a href="#" class="navbar__link">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>
