.layout-sidebar {
    width: 250px;
    transition: width 0.3s ease;
    background-color: #2ffc39; 
    color: #ffffff; 
    position: relative;
  
    &.collapsed {
      width: 60px; 
      overflow: hidden;
    }
  
    .sidebar-toggle-btn {
      background: none;
      border: none;
      color: #ffffff;
      padding: 0.5rem;
      position: absolute;
      top: 1rem;
      right: -2.5rem;
      cursor: pointer;
      outline: none;
    }
  }
  
  .layout-content {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
  
    .layout-sidebar.collapsed + & {
      margin-left: 60px;
    }
  }
  
  .navbar {
    .btn-outline-primary {
      border-color: #158467; 
      color: #6cbf84; 
      border-radius: 5px;
      padding: 8px 20px;
      transition: all 0.3s ease;
  
      &:hover {
        background-color: #6cbf84; 
        color: #ffffff; 
        border-color: #6cbf84;
      }
    }
    .btn-primary {
      background-color: #158467; 
      color: #ffffff;
      border-radius: 5px;
      padding: 8px 20px;
      transition: all 0.3s ease;
      border: none;
  
      &:hover {
        background-color: #5ba873; 
      }
    }
  }