@if(habitos.length > 0) {
  <h2>¿Qué Metas tengo?</h2>
  <div class="table-controls">
    <mat-form-field class="filter-input" appearance="outline">
      <mat-label>Buscar por Nombre</mat-label>
      <input matInput [(ngModel)]="filterText" (input)="applyFilter($event)" />
    </mat-form-field>
  </div>

  <mat-table [dataSource]="filteredHabitos" class="mat-table">
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Habitos  </mat-header-cell>
      <mat-cell *matCellDef="let habito"> {{ habito.nombreHabito }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let habito">
        <div class="button-group">
          <button mat-raised-button class="crear-boton" (click)="createNewMeta(habito.id)">
            Crear Meta
          </button>
          <button mat-raised-button class=" detalles-boton" (click)="viewDetails(habito.id)">
            Ver Metas
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  ></mat-paginator>
} @else {
  <p>No hay Hábitos registrados</p>
}
