/* Estructura general */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  
    .content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      padding-top: 60px;
      box-sizing: border-box;
  
      footer {
        background-color: #343a40;
        color: #ffffff;
        text-align: center;
        padding: 20px;
        width: 100%;
        margin-top: auto; /* Mantiene el footer al final */
  
        a {
          color: #ffffff;
          text-decoration: none;
  
          &:hover {
            color: #1abc9c;
          }
        }
      }
    }
  }
  