.confirmation-card {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: none;
  border: none;
  outline: none;

  mat-card-title {
    font-size: 1.8rem;
    color: #40ca3b;
    font-weight: bold;
    margin-bottom: 20px;
  }

  mat-card-content p {
    font-size: 1rem;
    color: #4f4f4f;
    margin-bottom: 20px;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  button {
    background-color: #47cd44;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 100px; /* Aumenta el padding horizontal para hacer el botón más largo */
    min-width: 220px; /* Establece un ancho mínimo */
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2eaf30;
    }
  }
}

/* Media Query para pantallas medianas */
@media (max-width: 768px) {
  .confirmation-card {
    padding: 15px;
  }

  .confirmation-card mat-card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .confirmation-card mat-card-content p {
    font-size: 0.9rem;
  }

  .confirmation-card button {
    padding: 8px 20px; /* Ajuste en pantallas medianas */
    font-size: 0.9rem;
    min-width: 200px; /* Ancho mínimo en pantallas medianas */
  }
}

/* Media Query para pantallas pequeñas */
@media (max-width: 480px) {
  .confirmation-card {
    padding: 10px;
  }

  .confirmation-card mat-card-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .confirmation-card mat-card-content p {
    font-size: 0.8rem;
  }

  .confirmation-card button {
    padding: 6px 16px; /* Ajuste en pantallas pequeñas */
    font-size: 0.8rem;
    min-width: 180px; /* Ancho mínimo en pantallas pequeñas */
  }
}
