<div class="metas-container">
  <mat-card *ngFor="let meta of metas" class="meta-card">
    <mat-card-title>{{ meta.descripcion }}</mat-card-title>
    <mat-card-content>
      <p><strong>Estado:</strong> {{ meta.estado }}</p>
      <p><strong>Fecha de Inicio:</strong> {{ meta.fechaInicio | date }}</p>
      <p><strong>Fecha de Fin:</strong> {{ meta.fechaFin | date }}</p>
      <p><strong>Tiempo Objetivo:</strong> {{ meta.tiempoObjetivo }} minutos</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="actualizarMeta(meta.id)">Actualizar</button>
      <button mat-raised-button color="accent" (click)="registrarActividad(meta.id)">Registrar Actividad</button>
      <button mat-icon-button class="warn" (click)="abrirConfirmacionEliminar(meta.id)">
        <mat-icon>delete</mat-icon>  <!-- Icono de eliminar -->
      </button>
    </mat-card-actions>
  </mat-card>
</div>
