<div class="container mt-5">
  <div class="row">
    <!-- Columna izquierda: Formulario -->
    <div class="col-md-8">
      <h1>{{ recursoid ? 'Actualizar' : 'Nuevo' }} recurso</h1>

      <!-- Muestra de errores -->
      <div *ngIf="errors.length" class="alert alert-danger mt-4">
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>

      <!-- Formulario -->
      <form [formGroup]="form" (ngSubmit)="save()" autocomplete="off">
        <!-- Campo de nombre -->
        <mat-form-field class="form-field w-100" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" placeholder="Nombre" formControlName="nombreRecurso" />
          <mat-error *ngIf="form.get('nombre')?.hasError('required')">Este nombre es obligatorio</mat-error>
        </mat-form-field>

        <!-- Campo de descripción -->
        <mat-form-field class="form-field w-100" appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
          <mat-error *ngIf="form.get('descripcion')?.hasError('required')">La descripción es obligatoria</mat-error>
        </mat-form-field>

        <!-- Campo de precio -->
        <mat-form-field class="form-field w-100" appearance="outline">
          <mat-label>Precio</mat-label>
          <input matInput type="number" step="0.01" placeholder="Precio" formControlName="precio" />
          <mat-error *ngIf="form.get('precio')?.hasError('required')">El precio es obligatorio</mat-error>
        </mat-form-field>

        <!-- Tipo de recurso -->
        <mat-form-field class="form-field w-100" appearance="outline">
          <mat-label>Tipo de Recurso</mat-label>
          <mat-select formControlName="tiporecurso">
            <mat-option value="DIGITAL">Digital</mat-option>
            <mat-option value="FISICO">Físico</mat-option>
            <mat-option value="MIXTO">Mixto</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Tipo de hábito -->
        <mat-form-field class="form-field w-100" appearance="outline">
          <mat-label>Tipo de Hábito</mat-label>
          <mat-select formControlName="tipoDeHabitosId">
            <mat-option *ngFor="let tipoDeHabito of tipoDeHabitos" [value]="tipoDeHabito.id">
              {{ tipoDeHabito.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Plan de suscripción -->
        <mat-form-field class="form-field w-100" appearance="outline">
          <mat-label>Plan de Suscripción</mat-label>
          <mat-select formControlName="plan_id">
            <mat-option *ngFor="let plan of tiposSuscripcion" [value]="plan.id">
              {{ plan.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Carga de archivo de portada -->
        <div class="file-upload w-100">
          <label>Portada</label>
          <input
            type="file"
            class="form-control"
            accept=".png,.jpg,.jpeg"
            (change)="uploadFile($event, 'coverPath')"
          />
          <div class="file-upload w-100">
            <!-- Vista previa de la portada -->
            <div *ngIf="previewImage" class="mt-3">
              <img [src]="previewImage" alt="Vista previa" class="preview-image" />
            </div>
          </div>
          <div class="small text-muted">
            Ruta actual: {{ form.get("coverPath")!.value?.name || 'No se ha seleccionado un archivo' }}
          </div>
          <!-- Botón para descargar la portada -->
          <button
            *ngIf="form.get('coverPath')?.value"
            class="btn btn-outline-secondary mt-2"
            (click)="downloadFile(form.get('coverPath')?.value)"
          >
            Descargar portada
          </button>
        </div>

        <!-- Carga de archivo PDF -->
        <div class="file-upload w-100">
          <label>Archivo PDF</label>
          <input
            type="file"
            class="form-control"
            accept="application/pdf"
            (change)="uploadFile($event, 'filePath')"
          />
          <div class="small text-muted">
            Ruta actual: {{ form.get('filePath')?.value?.name || 'No se ha seleccionado un archivo' }}
          </div>
          <!-- Botón para descargar el archivo PDF -->
          <button
            *ngIf="form.get('filePath')?.value"
            class="btn btn-outline-secondary mt-2"
            (click)="downloadFile(form.get('filePath')?.value)"
          >
            Descargar PDF
          </button>
        </div>

        <!-- Botones de acción -->
        <div class="action-buttons text-end mt-4">
          <button mat-button type="button" (click)="goToRecursosList()">Cancelar</button>
          <button mat-raised-button color="primary" class="ms-2">
            {{ recursoid ? 'Actualizar' : 'Crear' }} recurso
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
