.header-dark {
  background-color: #e0e0e0; /* Color de fondo más oscuro */
  padding: 10px;
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  align-items: flex-start; /* Alinea los elementos al inicio */
  border-radius: 4px 4px 0 0;
}

.header-icon {
  font-size: 24px;
  margin-right: auto;
  color: black; /* Color del ícono, ajustable */
  vertical-align: middle; /* Alinea el ícono verticalmente al centro */
}

.subtitle-spacing {
  margin-bottom: 16px; /* Espacio debajo del subtítulo */
}

.resource-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-and-image {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.image-container {
  width: 300px;
  height: auto;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-start; /* Alinea los botones a la izquierda */
  gap: 10px; /* Espacio entre los botones */
}

.resource-card {
  flex: 1;
  margin-left: 20px; /* Separación del layout */
  max-width: 800px;
}


mat-card-title, mat-card-subtitle {
  display: inline;
  margin: 0;
}

.green-button {
  background-color: #faf6f6;
  color: #32a837 !important;


  &:disabled {
    background-color: #ffffff;
    color: #32a837;
    opacity: 1;
  }
}

.green-button:hover:not(:disabled) {
  background-color: #c4fab9;
}

.success-message {
  color: #32a837;
  font-weight: bold;
  margin: 10px 0;
}

