<div class="login-container">
    <h1 class="login-header">Bienvenidos</h1>
    <p class="login-subtext">Por favor, inicia sesión para continuar</p>

    <button class="google-button">
        <img src="google-icon.png" alt="Google Icon" class="google-icon"> 
        Continuar con Google
    </button>

    <form class="login-form">
        <div class="form-group form-input">
            <mat-form-field appearance="outline" class="form-input">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="correo" placeholder="Introduce tu correo">
                <mat-error *ngIf="controlHasError('correo','required')">
                    Este campo es obligatorio
                </mat-error>
                <mat-error *ngIf="controlHasError('correo','email')">
                    Introduce un correo válido
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-group form-input">
            <mat-form-field appearance="outline" class="form-input">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="contrasena" type="password" placeholder="Introduce tu Contraseña">
                <mat-error *ngIf="controlHasError('contrasena','required')">
                    Este campo es obligatorio
                </mat-error>
                <mat-error *ngIf="controlHasError('contrasena','minlength')">
                    La contraseña debe tener al menos 6 caracteres
                </mat-error>
            </mat-form-field>
        </div>

        <button type="submit" class="submit-button">Iniciar Sesión</button>
    </form>

    <div class="register-link">
        ¿No tienes cuenta?   <a routerLink="/auth/register">Crea una cuenta aquí</a>
    </div>
    <div class="reset-password-link">
         <a routerLink="/auth/reset-password">¿Olvidaste tu contraseña? </a>
    </div>
</div>
