<app-navbar/>
<div class="preferences-container">
    <h2>Preferencias de Notificaciones</h2>
 
    <div class="toggle-section">
      <label class="toggle-switch">
        <input type="checkbox" [(ngModel)]="desktopNotifications" (change)="toggleDesktopNotifications()" />
        <span class="slider"></span>
      </label>
      <span class="toggle-label">Activar notificaciones en este navegador</span>
      <p>Recibe notificaciones en tu ordenador para tus recordatorios personalizados.</p>
    </div>
 
    <div class="preferences-list">
      <div class="preference-item" *ngFor="let pref of preferences" [class.disabled]="!desktopNotifications">
        <label class="toggle-switch">
          <!-- Desactiva el checkbox si `desktopNotifications` está desactivado -->
          <input type="checkbox" [(ngModel)]="pref.enabled" [disabled]="!desktopNotifications" />
          <span class="slider"></span>
        </label>
        <span class="toggle-label">{{ pref.label }}</span>
        <p>{{ pref.description }}</p>
      </div>
    </div>
 
    <button (click)="savePreferences()">Guardar Preferencias</button>
  </div>
<app-footer/>