<app-payment-navbar></app-payment-navbar>
<div class="layout-dashboard">
  <button
    class="sidebar-toggle-btn"
    [class.active]="isSidebarActive"
    (click)="toggleSidebar()"
  >
    <span
      class="navbar-toggler-icon"
      [ngClass]="{
        'icon-white': !isSidebarActive,
        'icon-black': isSidebarActive
      }"
    >
    </span>
  </button>

  <div class="layout-sidebar" [class.collapsed]="isSidebarActive">

    <nav>
      <ul>
        <li>
          <a routerLink="catalog" routerLinkActive="active">
            <i class="fas fa-book"></i> Catálogo de Recursos
          </a>
        </li>
        <li>
          <a routerLink="history" routerLinkActive="active">
            <i class="fas fa-shopping-cart"></i> Mis Compras
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="layout-content">
    <router-outlet></router-outlet>
  </div>
</div>
