/* Layout principal */
.layout-dashboard {
  display: flex;
  height: 100vh;
}

/* Estilo para el Navbar */
app-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}

/* Sidebar ajustado con botón de toggle */
.layout-sidebar {
  position: fixed;
  top: 70px; /* Ajusta según la altura del navbar */
  left: 0;
  bottom: 70px; /* Ajusta según la altura del footer */
  width: 250px;
  background-color: #343a40;
  color: #ffffff;
  overflow-y: auto;
  transition: width 0.3s ease-in-out;
  z-index: 1040;

  &.collapsed {
    width: 0;
    overflow: hidden;
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 10px 0;
        padding: 10px 20px;

        a {
          color: #ffffff;
          text-decoration: none;
          display: flex;
          align-items: center;
          padding: 10px;
          border-radius: 4px;
          transition: background-color 0.3s;

          i {
            margin-right: 10px;
          }

          &:hover,
          &.active {
            background-color: #495057;
          }
        }
      }
    }
  }
}

/* Contenido principal ajustado al sidebar */
.layout-content {
  flex-grow: 1;
  padding: 90px 20px 70px 20px; /* Ajuste para el navbar y footer */
  margin-left: 250px; /* Se ajusta según el tamaño del sidebar */
  transition: margin-left 0.3s ease-in-out;

  .layout-sidebar.collapsed + & {
    margin-left: 0;
  }
}

/* Botón de toggle para el sidebar */
.sidebar-toggle-btn {
  position: fixed;
  top: 70px; /* Ajusta según la altura del navbar */
  left: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1060;
  color: #ffffff;

  &.active .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

/* Iconos del sidebar según el estado */
.icon-white {
  color: #ffffff;
}

.icon-black {
  color: #000000;
}

/* Estilo para el Footer */
app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  z-index: 1050;
}
