.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: none;
}

h2 {
  font-size: 1.8rem;
  color: #3ac535;
  margin-bottom: 15px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;

  .mat-form-field-label {
    color: #a3a3a3 !important;
  }

  .mat-input-element {
    color: #333333;
  }

  .mat-error {
    color: #ec4646;
  }
}

button {
  margin-top: 20px;
  width: 100%;
  background-color: #62d35e;
  color: #ffffff;
  font-weight: bold;

  &:hover {
    background-color: #32da3b;
  }

  &:disabled {
    background-color: #91dd91;
    color: #f8f5f5;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
    margin: 10px;
  }

  h2 {
    font-size: 1.2rem;
  }

  button {
    font-size: 0.9rem;
  }
}
