@if(habitos){
    <h2>Lista de Habitos</h2>
    <div class="table-controls">
        <button mat-raised-button color="primary" (click)="createNewHabito()">
         Nuevo Habito
        </button>
        <mat-form-field class="filter-input" appearance="outline">
          <mat-label>Buscar por Nombre</mat-label>
          <input matInput [(ngModel)]="filterText" (input)="applyFilter($event)" />
        </mat-form-field>
      </div>
      <mat-table [dataSource]="filteredHabitos" class="mat-table">
    
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let habito"> {{ habito.nombre }} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
          <mat-cell *matCellDef="let habito"> {{ habito.descripcion }} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="tipoDeHabito">
          <mat-header-cell *matHeaderCellDef> Tipo de Habito </mat-header-cell>
          <mat-cell *matCellDef="let habito"> {{habito.tipoDeHabito }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let habitos">
            <div class="button-group">
              <button mat-raised-button color="accent" (click)="editHabito(habitos.id)">
                Editar
              </button>
              <button mat-raised-button color="warn" (click)="deleteHabito(habitos.id)">
                Eliminar
              </button>
            </div>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
  [length]="totalElements"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)"
>
</mat-paginator>
} @else {
<p>No hay libros registrados</p>
}

