<!-- src/app/pages/payment.component.html -->
<div class="payment-container">
  <h2>Opciones de Pago</h2>
  
  <!-- Opciones de pago -->
  <div class="payment-options">
    <button 
      *ngFor="let option of paymentOptions" 
      (click)="selectPaymentOption(option)" 
      [class.selected]="selectedPaymentOption() === option">
      {{ option }}
    </button>
  </div>
  
  <!-- Formulario de pago -->
  <div *ngIf="selectedPaymentOption() as option" class="payment-form">
    <h3>Formulario de Pago - {{ option }}</h3>
    <form [formGroup]="paymentForm" (ngSubmit)="processPayment()">
      <label for="name">Nombre Completo</label>
      <input id="name" formControlName="name" placeholder="Nombre Completo" />

      <label for="email">Correo Electrónico</label>
      <input id="email" formControlName="email" type="email" placeholder="Correo Electrónico" />

      <!-- Campos de tarjeta de crédito, visibles solo si la opción seleccionada es "Tarjeta de Crédito" -->
      <div *ngIf="option === 'Tarjeta de Crédito'">
        <label for="cardNumber">Número de Tarjeta</label>
        <input id="cardNumber" formControlName="cardNumber" placeholder="Número de Tarjeta" />

        <label for="expirationDate">Fecha de Expiración</label>
        <input id="expirationDate" formControlName="expirationDate" type="month" />

        <label for="cvv">CVV</label>
        <input id="cvv" formControlName="cvv" type="password" maxlength="4" placeholder="CVV" />
      </div>

      <!-- Campos de PayPal, visibles solo si la opción seleccionada es "PayPal" -->
      <div *ngIf="option === 'PayPal'">
        <label for="paypalAccount">Cuenta de PayPal</label>
        <input id="paypalAccount" formControlName="paypalAccount" placeholder="Cuenta de PayPal" />

        <label for="paypalPassword">Contraseña</label>
        <input id="paypalPassword" formControlName="paypalPassword" type="password" placeholder="Contraseña" />
      </div>

      <!-- Campos de Transferencia Bancaria, visibles solo si la opción seleccionada es "Transferencia Bancaria" -->
      <div *ngIf="option === 'Transferencia Bancaria'">
        <label for="cci">CCI</label>
        <input id="cci" formControlName="cci" placeholder="CCI" />

        <label for="dynamicKey">Clave Dinámica Digital</label>
        <input id="dynamicKey" formControlName="dynamicKey" type="password" maxlength="6" placeholder="Clave Dinámica" />
      </div>

      <button type="submit" [disabled]="paymentForm.invalid">Procesar Pago</button>
    </form>
  </div>
</div>


  
  <div class="footer">
    © 2024 Hus - Foro de Hábitos Saludables
  </div>